Repository theoludwig/theoludwig: changes, and which lint-staged commands are due for each by the changed paths.
All: editorconfig-checker, prettier --write, eslint --fix, markdownlint-cli2 --fix

.lintstagedrc.json:

{
  "*": ["editorconfig-checker"],
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.{css,scss,sass,json,jsonc,yml,yaml}": ["prettier --write"],
  "*.{md,mdx}": ["prettier --write", "markdownlint-cli2 --fix"]
}

chore(release): 2.4.1 [skip ci]
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

Notes added by 'git notes add'
  83231197dda9f0299b30d079973ec5cf2baa152a
Due: editorconfig-checker

refactor: minor changes
  .eslintrc.json
  Dockerfile
  cypress/component/components/Footer.cy.tsx
  cypress/support/component.ts
  package-lock.json
  package.json
  pages/blog/[slug].tsx
  posts/clean-code.md
  posts/hello-world.md
  posts/mistakes-as-junior-developer.md
  posts/thream-v1-0-0.md
  utils/blog.ts
Due: editorconfig-checker, prettier --write, eslint --fix, markdownlint-cli2 --fix

feat(posts): add `git-ultimate-guide`
  .gitignore
  components/Header/Language/index.tsx
  components/Interests/InterestsList/InterestItem.tsx
  components/Interests/index.tsx
  components/Portfolio/index.tsx
  cypress/e2e/common/Header.cy.ts
  cypress/e2e/pages/404.cy.ts
  cypress/e2e/pages/500.cy.ts
  cypress/e2e/pages/index.cy.ts
  jsonresume-theme-custom/package-lock.json
  jsonresume-theme-custom/package.json
  next-env.d.ts
  package-lock.json
  package.json
  pages/404.tsx
  pages/500.tsx
  pages/_app.tsx
  pages/blog/[slug].tsx
  pages/blog/index.tsx
  pages/index.tsx
  posts/git-ultimate-guide.md
  utils/blog.ts
  utils/remarkSyntaxHighlightingPlugin.ts
Due: editorconfig-checker, prettier --write, eslint --fix, markdownlint-cli2 --fix

chore: reduce docker image size
  Dockerfile
  docker-compose.yml
  next.config.js
Due: editorconfig-checker, prettier --write, eslint --fix

chore: remove usage of `styled-jsx`
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/analyze.yml
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .vscode/extensions.json
  Dockerfile
  components/ErrorPage.tsx
  components/Header/SwitchTheme.tsx
  cypress.config.ts
  locales/fr/errors.json
  next.config.js
  package-lock.json
  package.json
  pages/404.tsx
  pages/500.tsx
  tailwind.config.js
Due: editorconfig-checker, prettier --write, eslint --fix

feat(skills): add PHP and Laravel
  README.md
  components/Skills/Skill.tsx
  components/Skills/index.tsx
  components/Skills/skills.ts
  pages/blog/[slug].tsx
  public/images/skills/Laravel.png
  public/images/skills/PHP.png
  resume.json
Due: editorconfig-checker, prettier --write, eslint --fix, markdownlint-cli2 --fix

ci: fix timeout
  .html-w3c-validatorrc.json
  .lighthouserc.json
  CONTRIBUTING.md
  cypress.config.ts
  jsonresume-theme-custom/package-lock.json
  jsonresume-theme-custom/package.json
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write, eslint --fix, markdownlint-cli2 --fix

fix: update biography description
  README.md
  components/Head.tsx
  components/Interests/InterestsList/index.tsx
  locales/en/home.json
  locales/fr/home.json
  resume.json
Due: editorconfig-checker, prettier --write, eslint --fix, markdownlint-cli2 --fix

fix(posts): update git-ultimate-guide
  posts/git-ultimate-guide.md
Due: editorconfig-checker, prettier --write, markdownlint-cli2 --fix

build(deps): bump Next.js to v13
  components/ErrorPage.tsx
  components/Footer.tsx
  components/Header/index.tsx
  components/Portfolio/PortfolioItem.tsx
  components/Profile/ProfileLogo.tsx
  components/Skills/Skill.tsx
  cypress/e2e/pages/index.cy.ts
  jsonresume-theme-custom/package-lock.json
  jsonresume-theme-custom/package.json
  package-lock.json
  package.json
  pages/blog/index.tsx
  posts/git-ultimate-guide.md
  resume.json
Due: editorconfig-checker, prettier --write, eslint --fix, markdownlint-cli2 --fix

chore(release): 2.5.0 [skip ci]
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

Notes added by 'git notes add'
  07f7942496c3c251a76aaf00e74d2b45e037bbcc
Due: editorconfig-checker

chore: fix cypress unit tests
  jsonresume-theme-custom/package-lock.json
  jsonresume-theme-custom/package.json
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

fix(posts): update broken link in thream-v1.0.0.md
  posts/thream-v1-0-0.md
Due: editorconfig-checker, prettier --write, markdownlint-cli2 --fix

chore(release): 2.5.1 [skip ci]
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

Notes added by 'git notes add'
  014044573ad79b37cb3e816475681c2522741251
Due: editorconfig-checker

fix: better resume
  Dockerfile
  README.md
  jsonresume-theme-custom/index.html
  jsonresume-theme-custom/package-lock.json
  jsonresume-theme-custom/package.json
  jsonresume-theme-custom/styles/global.css
  locales/en/home.json
  locales/fr/home.json
  package-lock.json
  package.json
  pages/blog/[slug].tsx
  posts/hello-world.md
  posts/thream-v1-0-0.md
  resume.json
Due: editorconfig-checker, prettier --write, eslint --fix, markdownlint-cli2 --fix

chore(release): 2.5.2 [skip ci]
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

Notes added by 'git notes add'
  5f5b32889548bfd6e0c5710db1e2901bad019454
Due: editorconfig-checker

fix: improve Resume
  README.md
  components/Skills/index.tsx
  jsonresume-theme-custom/build.js
  jsonresume-theme-custom/index.html
  jsonresume-theme-custom/package-lock.json
  jsonresume-theme-custom/package.json
  jsonresume-theme-custom/scripts/main.js
  jsonresume-theme-custom/styles/global.css
  jsonresume-theme-custom/vite.config.ts
  package-lock.json
  package.json
  resume.jsonc
Due: editorconfig-checker, prettier --write, eslint --fix, markdownlint-cli2 --fix

chore(release): 2.5.3 [skip ci]
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

Notes added by 'git notes add'
  ece5ded1b4becce986ddbc960d47e71dff3a4edd
Due: editorconfig-checker

fix: improve Resume
  jsonresume-theme-custom/package-lock.json
  jsonresume-theme-custom/package.json
  package-lock.json
  package.json
  resume.jsonc
Due: editorconfig-checker, prettier --write

chore(release): 2.5.4 [skip ci]
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

Notes added by 'git notes add'
  d76db36dbc5031e5a6bf0116eec935c0611b95e4
Due: editorconfig-checker

fix: update dependencies to latest
  .dockerignore
  .eslintrc.json
  .github/workflows/analyze.yml
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .markdownlint-cli2.jsonc
  .markdownlint.json
  Dockerfile
  jsonresume-theme-custom/package-lock.json
  jsonresume-theme-custom/package.json
  package-lock.json
  package.json
  pages/blog/[slug].tsx
  tsconfig.json
  utils/blog.ts
Due: editorconfig-checker, prettier --write, eslint --fix

chore(release): 2.5.5 [skip ci]
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

Notes added by 'git notes add'
  b25451e631c3e708979ede9e0cde30e245311e5a
Due: editorconfig-checker

chore: remove useless runner-dependencies in Dockerfile
  Dockerfile
Due: editorconfig-checker

fix: update dependencies to latest
  .github/workflows/analyze.yml
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .vscode/settings.json
  Dockerfile
  components/Header/Language/index.tsx
  components/Header/SwitchTheme.tsx
  components/Interests/InterestsList/InterestItem.tsx
  components/Profile/ProfileDescriptionBottom.tsx
  components/Profile/ProfileList/ProfileItem.tsx
  components/design/RevealFade.tsx
  components/design/Section/SectionHeading.tsx
  jsonresume-theme-custom/package-lock.json
  jsonresume-theme-custom/package.json
  next.config.js
  package-lock.json
  package.json
  tsconfig.json
Due: editorconfig-checker, prettier --write, eslint --fix

chore: fix CI issues
  cypress/component/Footer.cy.tsx
  tsconfig.json
Due: editorconfig-checker, prettier --write, eslint --fix

chore(release): 2.5.6 [skip ci]
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

Notes added by 'git notes add'
  e32c53caa1e18e0505581aea90b1b960ecf81f42
Due: editorconfig-checker

build(deps): update latest
  .github/PULL_REQUEST_TEMPLATE.md
  .markdownlint-cli2.jsonc
  .markdownlint.json
  CODE_OF_CONDUCT.md
  Dockerfile
  jsonresume-theme-custom/package-lock.json
  jsonresume-theme-custom/package.json
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write, markdownlint-cli2 --fix

feat: add Numerize as work experience
  resume.jsonc
Due: editorconfig-checker, prettier --write

chore: remove unneeded Lighthouse checking
  .devcontainer/devcontainer.json
  .github/workflows/test.yml
  .lighthouserc.json
  CONTRIBUTING.md
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write, markdownlint-cli2 --fix

chore(release): 2.6.0 [skip ci]
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

Notes added by 'git notes add'
  94e0d190ae89d53435f3c2000336c943c556d174
Due: editorconfig-checker

fix(deps): update latest
  .env.example
  .github/workflows/analyze.yml
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  CONTRIBUTING.md
  Dockerfile
  docker-compose.yml
  jsonresume-theme-custom/package-lock.json
  jsonresume-theme-custom/package.json
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write, markdownlint-cli2 --fix
