Repository theoludwig/theoludwig: changes, and which lint-staged commands are due for each by the changed paths.
All: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests, markdownlint --dot --fix

feat: add Curriculum vitae
  .github/workflows/Divlo.yml
  .gitignore
  .lintstagedrc.json
  components/Header/Language/LanguageFlag.tsx
  components/Header/Language/index.tsx
  components/Header/index.tsx
  components/Portfolio/PortfolioItem.tsx
  components/Profile/ProfileDescriptionBottom.tsx
  components/Profile/ProfileList/ProfileItem.tsx
  components/Profile/ProfileList/index.tsx
  components/Profile/ProfileLogo.tsx
  components/Skills/Skill.tsx
  components/design/ShadowContainer.tsx
  jsonresume-theme-custom/.gitignore
  jsonresume-theme-custom/index.js
  jsonresume-theme-custom/package-lock.json
  jsonresume-theme-custom/package.json
  jsonresume-theme-custom/theme/images/building-columns.svg
  jsonresume-theme-custom/theme/images/graduation-cap.svg
  jsonresume-theme-custom/theme/images/heart.svg
  jsonresume-theme-custom/theme/images/toolbox.svg
  jsonresume-theme-custom/theme/images/user.svg
  jsonresume-theme-custom/theme/index.ejs
  jsonresume-theme-custom/theme/styles/global.css
  locales/en/home.json
  locales/fr/home.json
  next.config.js
  package-lock.json
  package.json
  pages/blog/[slug].tsx
  pages/blog/index.tsx
  resume.json
  styles/global.css
  tailwind.config.js
  utils/blog.ts
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests

feat: usage of VSCode Dark+ syntax highlighting in posts
  .lighthouserc.json
  cypress/integration/pages/blog/[slug].spec.ts
  cypress/integration/pages/blog/index.spec.ts
  package-lock.json
  package.json
  pages/blog/[slug].tsx
  pages/blog/index.tsx
  posts/clean-code.mdx
  styles/global.css
  utils/blog.ts
  utils/remarkSyntaxHighlightingPlugin.ts
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests, markdownlint --dot --fix

test(e2e): header should always be visible (sticky)
  components/Interests/index.tsx
  components/Profile/ProfileDescriptionBottom.tsx
  cypress/integration/common/Header.spec.ts
  posts/clean-code.mdx
  posts/hello-world.mdx
  styles/global.css
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests, markdownlint --dot --fix

chore: temporarily support Node.js v14 to deploy on Vercel
  .eslintrc.json
  package-lock.json
  package.json
  utils/blog.ts
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests

chore(release): 2.0.0 [skip ci]
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

Notes added by 'git notes add'
  8b9e58c47cac6bc4b7fa576ed9cb3e5d603f66d3
Due: editorconfig-checker

fix(resume): usage of experience website
  jsonresume-theme-custom/theme/index.ejs
Due: editorconfig-checker

fix(posts): spelling mistakes
  components/Head.tsx
  components/Interests/InterestsList/InterestItem.tsx
  posts/clean-code.mdx
  posts/hello-world.mdx
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests, markdownlint --dot --fix

chore(release): 2.0.1 [skip ci]
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

Notes added by 'git notes add'
  b5f3552c0785b8132c418597abcbbd311278938b
Due: editorconfig-checker

fix: redirect `/curriculum-vitae.html` to `/curriculum-vitae`
  components/Profile/ProfileDescriptionBottom.tsx
  vercel.json
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests

ci: multiple workflows instead of one
  .github/workflows/Divlo.yml
  .github/workflows/analyze.yml
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .releaserc.json
  README.md
Due: editorconfig-checker, prettier --write, markdownlint --dot --fix

chore(release): 2.0.2 [skip ci]
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

Notes added by 'git notes add'
  94212f9b5cbeda897ccc207188ea3608c30b0bf0
Due: editorconfig-checker

feat(posts): add `mistakes-as-junior-developer`
  .eslintrc.json
  .github/workflows/analyze.yml
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .html-w3c-validatorrc.json
  components/Head.tsx
  jsonresume-theme-custom/index.js
  jsonresume-theme-custom/package-lock.json
  jsonresume-theme-custom/package.json
  jsonresume-theme-custom/scripts/build.js
  package-lock.json
  package.json
  posts/mistakes-as-junior-developer.mdx
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests, markdownlint --dot --fix

chore(release): 2.1.0 [skip ci]
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

Notes added by 'git notes add'
  115203966329bf8e9fe9beba21a0a05a84334bf9
Due: editorconfig-checker

feat: display age nearby the birth date
  components/Profile/ProfileList/index.tsx
  components/Profile/index.tsx
  jsonresume-theme-custom/package-lock.json
  jsonresume-theme-custom/package.json
  locales/en/home.json
  locales/fr/home.json
  package-lock.json
  package.json
  pages/404.tsx
  pages/500.tsx
  pages/index.tsx
  utils/getAge.ts
  utils/getDefaultDescription.ts
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests

chore(release): 2.2.0 [skip ci]
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

Notes added by 'git notes add'
  6abc881e942ee1f7d2493be86b211110123389a5
Due: editorconfig-checker

fix: calculate age client side so it updates "automatically" (not only on rebuild)
  components/Head.tsx
  components/Profile/ProfileList/index.tsx
  components/Profile/index.tsx
  pages/404.tsx
  pages/500.tsx
  pages/index.tsx
  utils/getAge.ts
  utils/getDefaultDescription.ts
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests

chore(release): 2.2.1 [skip ci]
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

Notes added by 'git notes add'
  bce254a3555e12a1e2231ee1d6754c57183a9cc8
Due: editorconfig-checker

feat(posts): add `thream-v1-0-0`
  .eslintignore
  .gitignore
  .lintstagedrc.json
  .prettierignore
  Dockerfile
  jsonresume-theme-custom/package-lock.json
  jsonresume-theme-custom/package.json
  package-lock.json
  package.json
  posts/thream-v1-0-0.mdx
  public/images/logo_orange.png
  public/images/posts/thream-v1-0-0/http-communication.png
  public/images/posts/thream-v1-0-0/social-project.jpg
  public/images/posts/thream-v1-0-0/thream-ui.png
  resume.json
Due: editorconfig-checker, prettier --write, markdownlint --dot --fix

chore(release): 2.3.0 [skip ci]
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

Notes added by 'git notes add'
  fb689c9bc1b119f4ab4241d810e1560f7a686173
Due: editorconfig-checker

fix(resume): wrong dates
  .devcontainer/docker-compose.yml
  CONTRIBUTING.md
  Dockerfile
  components/Header/Language/index.tsx
  components/Profile/SocialMediaList/SocialMediaItem.tsx
  components/design/RevealFade.tsx
  docker-compose.yml
  jsonresume-theme-custom/package-lock.json
  jsonresume-theme-custom/package.json
  jsonresume-theme-custom/theme/index.ejs
  package-lock.json
  package.json
  resume.json
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests, markdownlint --dot --fix

chore(release): 2.3.1 [skip ci]
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

Notes added by 'git notes add'
  bc065a2e19f20b3bd29348479a14c480536713ef
Due: editorconfig-checker

build(deps): update latest
  .eslintrc.json
  Dockerfile
  jsonresume-theme-custom/index.js
  jsonresume-theme-custom/package-lock.json
  jsonresume-theme-custom/package.json
  jsonresume-theme-custom/scripts/build.js
  package-lock.json
  package.json
  utils/blog.ts
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests

fix: update about, now second year of university
  .eslintignore
  cypress.config.ts
  cypress.json
  cypress/e2e/common/Header.cy.ts
  cypress/e2e/pages/404.cy.ts
  cypress/e2e/pages/500.cy.ts
  cypress/e2e/pages/blog/[slug].cy.ts
  cypress/e2e/pages/blog/index.cy.ts
  cypress/e2e/pages/index.cy.ts
  jsonresume-theme-custom/package-lock.json
  jsonresume-theme-custom/package.json
  jsonresume-theme-custom/scripts/build.js
  locales/en/home.json
  locales/fr/home.json
  package-lock.json
  package.json
  tsconfig.json
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests

chore: easier development for jsonresume-theme-custom thanks to vite
  .markdownlint-cli2.jsonc
  .markdownlint.json
  components/Header/Language/index.tsx
  components/Profile/SocialMediaList/SocialMediaIcons/Icon.tsx
  components/design/ShadowContainer.tsx
  jsonresume-theme-custom/.gitignore
  jsonresume-theme-custom/images/building-columns.svg
  jsonresume-theme-custom/images/graduation-cap.svg
  jsonresume-theme-custom/images/heart.svg
  jsonresume-theme-custom/images/toolbox.svg
  jsonresume-theme-custom/images/user.svg
  jsonresume-theme-custom/index.html
  jsonresume-theme-custom/package-lock.json
  jsonresume-theme-custom/package.json
  jsonresume-theme-custom/resume.json
  jsonresume-theme-custom/scripts/build.js
  jsonresume-theme-custom/styles/global.css
  jsonresume-theme-custom/vite.config.ts
  package-lock.json
  package.json
  public/curriculum-vitae/.gitkeep
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests

chore: remove jest -> cypress for unit tests
  .eslintignore
  .eslintrc.json
  .gitignore
  .html-w3c-validatorrc.json
  .lintstagedrc.json
  components/Footer.tsx
  components/Header/__test__/Header.test.tsx
  components/Header/index.tsx
  components/__test__/ErrorPage.test.tsx
  components/__test__/Footer.test.tsx
  cypress.config.ts
  cypress/component/Footer.cy.tsx
  cypress/component/utils/getAge.cy.ts
  cypress/e2e/common/Header.cy.ts
  cypress/e2e/pages/404.cy.ts
  cypress/e2e/pages/500.cy.ts
  cypress/e2e/pages/blog/[slug].cy.ts
  cypress/e2e/pages/blog/index.cy.ts
  cypress/e2e/pages/index.cy.ts
  cypress/fixtures/example.json
  cypress/support/commands.ts
  cypress/support/component-index.html
  cypress/support/component.ts
  cypress/tsconfig.json
  jest.config.js
  jsonresume-theme-custom/index.js
  package-lock.json
  package.json
  pages/404.tsx
  pages/500.tsx
  pages/index.tsx
  tsconfig.json
  utils/__test__/getAge.test.ts
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests

chore: use the right `resume.json`
  Dockerfile
  components/Header/index.tsx
  cypress/fixtures/example.json
  jsonresume-theme-custom/resume.json
  jsonresume-theme-custom/vite.config.ts
  pages/404.tsx
  pages/500.tsx
  pages/index.tsx
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests

chore(release): 2.3.2 [skip ci]
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

Notes added by 'git notes add'
  2fcc7ac3842a60d2cfd6a880076e7fd33ed7b9b6
Due: editorconfig-checker

feat: add giscus comments system for blog posts
  jsonresume-theme-custom/package-lock.json
  jsonresume-theme-custom/package.json
  next.config.js
  package-lock.json
  package.json
  pages/blog/[slug].tsx
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests

chore(release): 2.4.0 [skip ci]
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

Notes added by 'git notes add'
  e1f3dceb07cfea598581d137c69d858ae93aa8b2
Due: editorconfig-checker

fix(resume): wrong base path for assets
  jsonresume-theme-custom/scripts/build.js
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests

Path conditions:
  editorconfig-checker: any of: *
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{css,scss,sass,json,jsonc,yml,yaml})) or (any of: *.{md,mdx})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  jest --findRelatedTests: any of: *.{js,jsx,ts,tsx}
  markdownlint --dot --fix: any of: *.{md,mdx}
