Repository theoludwig/theoludwig: changes, and which lint-staged commands are due for each by the changed paths.
All: editorconfig-checker, prettier --write, eslint --fix, markdownlint-cli2 --fix

chore: downgrade commitlint temporarily to release new versions
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

chore(release): 3.1.1 [skip ci]
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

Notes added by 'git notes add'
  62222dbb0cdb0a9b5c1c90ebd872f5a14877b239
Due: editorconfig-checker

fix: update dependencies to latest
  .dockerignore
  .editorconfig
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .lintstagedrc.json
  .vscode/settings.json
  Dockerfile
  LICENSE
  README.md
  compose.yaml
  curriculum-vitae/package-lock.json
  curriculum-vitae/package.json
  cypress/e2e/common/Header.cy.ts
  next.config.js
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write, eslint --fix, markdownlint-cli2 --fix

fix(portfolio): remove Thream project as it is now deprecated
  i18n/translations/en-US/home.json
  i18n/translations/fr-FR/home.json
Due: editorconfig-checker, prettier --write

chore(release): 3.1.2 [skip ci]
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

Notes added by 'git notes add'
  339e42acfac9272ad307148c9f4a938072c18840
Due: editorconfig-checker

fix: update dependencies to latest
  .eslintrc.json
  .gitpod.yml
  .lintstagedrc.json
  .markdownlint-cli2.jsonc
  Dockerfile
  components/Profile/ProfileLogo.tsx
  curriculum-vitae/package-lock.json
  curriculum-vitae/package.json
  package-lock.json
  package.json
  tsconfig.json
Due: editorconfig-checker, prettier --write, eslint --fix

fix(open source): replace nrwl/nx by DefinitelyTyped
  components/OpenSource/index.tsx
Due: editorconfig-checker, prettier --write, eslint --fix

fix(blog): add depreciation notice on Thream post
  blog/BlogPostContent.tsx
  blog/posts/mistakes-as-junior-developer.md
  blog/posts/thream-v1-0-0.md
Due: editorconfig-checker, prettier --write, eslint --fix, markdownlint-cli2 --fix

fix: improve wording
  README.md
  app/globals.css
  app/layout.tsx
  components/Interests/InterestParagraph.tsx
  components/Interests/InterestsList/index.tsx
  components/Portfolio/PortfolioItem.tsx
  components/Profile/ProfileDescriptionBottom.tsx
  curriculum-vitae/curriculum-vitae.jsonc
  i18n/translations/en-US/home.json
  i18n/translations/fr-FR/home.json
Due: editorconfig-checker, prettier --write, eslint --fix, markdownlint-cli2 --fix

style: format JSONC files with Prettier correctly
  .devcontainer/devcontainer.json
  i18n/translations/en-US/home.json
Due: editorconfig-checker, prettier --write

fix: wording typos
  i18n/translations/en-US/home.json
  i18n/translations/fr-FR/home.json
Due: editorconfig-checker, prettier --write

feat: new logo v1
  app/blog/page.tsx
  app/favicon.ico
  app/globals.css
  app/layout.tsx
  blog/BlogPost.tsx
  blog/BlogPosts.tsx
  components/Footer/FooterText.tsx
  components/Footer/FooterVersion.tsx
  components/Header/index.tsx
  components/OpenSource/Repository.tsx
  components/Portfolio/PortfolioItem.tsx
  components/Profile/ProfileDescriptionBottom.tsx
  components/Skills/Skill.tsx
  components/design/Section/SectionHeading.tsx
  curriculum-vitae/curriculum-vitae.jsonc
  i18n/translations/en-US/home.json
  i18n/translations/fr-FR/home.json
  public/images/brand_logo.png
  public/images/icon-96x96.png
  public/images/icon_small.png
  public/images/logo.png
  public/images/logo_background.png
  public/images/logo_orange.png
  tailwind.config.js
Due: editorconfig-checker, prettier --write, eslint --fix

chore: usage of eslint-plugin-tailwindcss
  .eslintrc.json
  .husky/commit-msg
  .husky/pre-commit
  .prettierrc.json
  app/blog/[slug]/loading.tsx
  app/blog/loading.tsx
  app/error.tsx
  app/globals.css
  app/layout.tsx
  app/loading.tsx
  app/not-found.tsx
  blog/BlogPostContent.tsx
  components/Footer/FooterText.tsx
  components/Footer/FooterVersion.tsx
  components/Header/Locales/index.tsx
  components/Header/SwitchTheme.tsx
  components/Header/index.tsx
  components/Interests/InterestsList/InterestItem.tsx
  components/OpenSource/Repository.tsx
  components/Portfolio/PortfolioItem.tsx
  components/Profile/ProfileDescriptionBottom.tsx
  components/Profile/SocialMediaList/SocialMediaIcons/Icon.tsx
  components/Profile/SocialMediaList/index.tsx
  components/Skills/Skill.tsx
  components/Skills/SkillsSection.tsx
  components/design/Loader.tsx
  curriculum-vitae/package-lock.json
  curriculum-vitae/package.json
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write, eslint --fix

chore(release): 3.2.0 [skip ci]
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

Notes added by 'git notes add'
  f337e142606efdee70662ed19d84b6d1f398253f
Due: editorconfig-checker

fix: wrong font weight on hover link
  app/globals.css
Due: editorconfig-checker, prettier --write

docs(license): add email address
  LICENSE
Due: editorconfig-checker

fix: correct responsive for Header Title
  components/Header/index.tsx
  tailwind.config.js
Due: editorconfig-checker, prettier --write, eslint --fix

chore: only report errors for html validation
  .html-w3c-validatorrc.json
Due: editorconfig-checker, prettier --write

test: correct selector for Main Title of page
  cypress/e2e/common/Header.cy.ts
  cypress/e2e/pages/blog/[slug].cy.ts
Due: editorconfig-checker, prettier --write, eslint --fix

chore(release): 3.2.1 [skip ci]
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

Notes added by 'git notes add'
  1e0567b53876fae16a9270cb782b477ba5727373
Due: editorconfig-checker

chore: cleaner configs
  .lintstagedrc.json
  .markdownlint-cli2.jsonc
Due: editorconfig-checker, prettier --write

fix: remove npm vulnerability by updating html-w3c-validator
  .html-w3c-validatorrc.json
  curriculum-vitae/package-lock.json
  curriculum-vitae/package.json
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

chore(release): 3.2.2 [skip ci]
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

Notes added by 'git notes add'
  5185c6758b8b8b4dce8da1d66e85d1d310614ab6
Due: editorconfig-checker

fix: update dependencies to latest to address security issues Node.js v20.11.1
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  Dockerfile
  curriculum-vitae/package-lock.json
  curriculum-vitae/package.json
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

fix(blog): add command to commit in the past in Git Ultimate Guide
  blog/posts/git-ultimate-guide.md
Due: editorconfig-checker, prettier --write, markdownlint-cli2 --fix

fix(portfolio): update link to Carolo (carolo.org)
  i18n/translations/en-US/home.json
  i18n/translations/fr-FR/home.json
Due: editorconfig-checker, prettier --write

style: fix prettier
  .devcontainer/devcontainer.json
  tsconfig.json
Due: editorconfig-checker, prettier --write

chore(release): 3.2.3 [skip ci]
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

Notes added by 'git notes add'
  3502f5173535d43e0c5e5d1550ccf2e3a5659d15
Due: editorconfig-checker

refactor: rename to primary color
  app/blog/page.tsx
  app/error.tsx
  app/globals.css
  app/not-found.tsx
  blog/BlogPost.tsx
  blog/BlogPosts.tsx
  components/Footer/FooterText.tsx
  components/Footer/FooterVersion.tsx
  components/Header/index.tsx
  components/Interests/InterestParagraph.tsx
  components/Interests/InterestsList/InterestItem.tsx
  components/OpenSource/Repository.tsx
  components/Portfolio/PortfolioItem.tsx
  components/Profile/ProfileDescriptionBottom.tsx
  components/Profile/ProfileInfo.tsx
  components/Skills/Skill.tsx
  components/Skills/SkillsSection.tsx
  components/design/Loader.tsx
  components/design/Section/SectionHeading.tsx
  i18n/translations/en-US/home.json
  i18n/translations/fr-FR/home.json
  tailwind.config.js
Due: editorconfig-checker, prettier --write, eslint --fix

Revert "fix(portfolio): update link to Carolo (carolo.org)"
  i18n/translations/en-US/home.json
  i18n/translations/fr-FR/home.json
Due: editorconfig-checker, prettier --write

fix: hydratation error with age calculation
  components/Profile/ProfileList/index.tsx
  hooks/useIsMounted.ts
Due: editorconfig-checker, prettier --write, eslint --fix

fix(footer): show `0.0.0-development` version in Footer in development
  components/Footer/index.tsx
  utils/getVersion.ts
Due: editorconfig-checker, prettier --write, eslint --fix

build(deps): update latest
  Dockerfile
  curriculum-vitae/package-lock.json
  curriculum-vitae/package.json
  i18n/i18n.ts
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write, eslint --fix

fix(blog): typos in posts
  blog/posts/clean-code.md
  blog/posts/programming-challenges.md
Due: editorconfig-checker, prettier --write, markdownlint-cli2 --fix

Path conditions:
  editorconfig-checker: any of: *
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{css,scss,sass,json,jsonc,yml,yaml})) or (any of: *.{md,mdx})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  markdownlint-cli2 --fix: any of: *.{md,mdx}
