Repository theoludwig/theoludwig: changes, and which lint-staged commands are due for each by the changed paths.
All: editorconfig-checker, prettier --write, eslint --fix, markdownlint-cli2 --fix

.lintstagedrc.json:

{
  "*": ["editorconfig-checker"],
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.{css,scss,sass,json,jsonc,yml,yaml}": ["prettier --write"],
  "*.{md,mdx}": ["prettier --write", "markdownlint-cli2 --fix"]
}

style: fix prettier
  cypress/support/component-index.html
  jsonresume-theme-custom/index.html
  package.json
Due: editorconfig-checker, prettier --write

chore(release): 2.12.1 [skip ci]
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

Notes added by 'git notes add'
  643e0e5821bae85ace7364270f9be1ef3aeb3961
Due: editorconfig-checker

build(deps): update latest
  .eslintrc.json
  components/design/RevealFade.tsx
  docker-compose.yml
  jsonresume-theme-custom/package-lock.json
  package-lock.json
  package.json
  pages/blog/[slug].tsx
Due: editorconfig-checker, prettier --write, eslint --fix

feat: add Carolo project in Portfolio
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .dockerignore
  .github/workflows/analyze.yml
  Dockerfile
  jsonresume-theme-custom/package-lock.json
  jsonresume-theme-custom/package.json
  locales/en/home.json
  locales/fr/home.json
  package-lock.json
  package.json
  posts/mistakes-as-junior-developer.md
  posts/thream-v1-0-0.md
  public/images/portfolio/Carolo.png
  public/images/portfolio/FunctionProject.png
  public/images/portfolio/Leon.png
  public/images/portfolio/Thream.png
Due: editorconfig-checker, prettier --write, markdownlint-cli2 --fix

fix: avoid scrolling when changing language
  components/Header/Language/index.tsx
Due: editorconfig-checker, prettier --write, eslint --fix

chore(release): 2.13.0 [skip ci]
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

Notes added by 'git notes add'
  49599d25ed020c5010043690315ec80499b1c525
Due: editorconfig-checker

chore: rename `docker-compose.yml` to `compose.yaml`
  .devcontainer/compose.yaml
  .devcontainer/devcontainer.json
  Dockerfile
  compose.yaml
Due: editorconfig-checker, prettier --write

fix(posts): update git blog post
  posts/git-ultimate-guide.md
Due: editorconfig-checker, prettier --write, markdownlint-cli2 --fix

chore: rename `jsonresume-theme-custom` to `curriculum-vitae`
  .gitignore
  Dockerfile
  curriculum-vitae.jsonc
  curriculum-vitae/.gitignore
  curriculum-vitae/build.js
  curriculum-vitae/images/building-columns.svg
  curriculum-vitae/images/graduation-cap.svg
  curriculum-vitae/images/heart.svg
  curriculum-vitae/images/toolbox.svg
  curriculum-vitae/images/user.svg
  curriculum-vitae/index.html
  curriculum-vitae/package-lock.json
  curriculum-vitae/package.json
  curriculum-vitae/scripts/main.js
  curriculum-vitae/styles/global.css
  curriculum-vitae/vite.config.ts
  jsonresume-theme-custom/build.js
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write, eslint --fix

chore: remove build error with Docker copy wrong node_modules
  Dockerfile
Due: editorconfig-checker

refactor: 'use client' when appropriate
  components/Header/Language/index.tsx
  components/Header/SwitchTheme.tsx
  components/OpenSource/Repository.tsx
  components/OpenSource/index.tsx
  components/Portfolio/PortfolioItem.tsx
  components/Profile/ProfileList/index.tsx
  components/Profile/SocialMediaList/index.tsx
  components/Skills/SkillsSection.tsx
  components/design/RevealFade.tsx
  components/design/Section/index.tsx
  cypress/component/utils/getAge.cy.ts
Due: editorconfig-checker, prettier --write, eslint --fix

build(deps): bump Node.js to 20.0.0 and npm to 9.0.0
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  CONTRIBUTING.md
  Dockerfile
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write, markdownlint-cli2 --fix

docs: update interests
  README.md
Due: editorconfig-checker, prettier --write, markdownlint-cli2 --fix

refactor: implement light/dark themes using cookies
  .eslintrc.json
  .gitpod.yml
  CONTRIBUTING.md
  app/layout.tsx
  components/Header/Locales/LocaleFlag.tsx
  components/Header/Locales/index.tsx
  components/Header/SwitchTheme.tsx
  components/Header/index.tsx
  components/Profile/ProfileList/index.tsx
  components/Providers.tsx
  components/Skills/Skill.tsx
  i18n/i18n.client.ts
  i18n/i18n.server.ts
  i18n/i18n.ts
  middleware.ts
  package-lock.json
  package.json
  theme/theme.client.ts
  theme/theme.server.ts
  utils/constants.ts
  utils/getAge.ts
Due: editorconfig-checker, prettier --write, eslint --fix, markdownlint-cli2 --fix

feat: rewrite blog to Next.js v13 app directory
  app/blog/[slug]/page.tsx
  app/blog/page.tsx
  app/layout.tsx
  components/BlogPostComments.tsx
  components/BlogPosts.tsx
  components/Header/Locales/index.tsx
  components/Header/index.tsx
  tailwind.config.js
  utils/blog.ts
Due: editorconfig-checker, prettier --write, eslint --fix

refactor: avoid usage of React.FC to use JSX.Element (to stay consistent)
  components/ErrorPage.tsx
  components/Header/Locales/Arrow.tsx
  components/Header/Locales/LocaleFlag.tsx
  components/Interests/InterestParagraph.tsx
  components/Interests/InterestsList/InterestItem.tsx
  components/Interests/InterestsList/index.tsx
  components/Interests/index.tsx
  components/Loader/Loader.tsx
  components/OpenSource/Repository.tsx
  components/OpenSource/index.tsx
  components/Portfolio/PortfolioItem.tsx
  components/Portfolio/index.tsx
  components/Profile/ProfileDescriptionBottom.tsx
  components/Profile/ProfileInfo.tsx
  components/Profile/ProfileList/ProfileItem.tsx
  components/Profile/ProfileLogo.tsx
  components/Profile/SocialMediaList/SocialMediaIcons/EmailIcon.tsx
  components/Profile/SocialMediaList/SocialMediaIcons/GitHubIcon.tsx
  components/Profile/SocialMediaList/SocialMediaIcons/GitLabIcon.tsx
  components/Profile/SocialMediaList/SocialMediaIcons/Icon.tsx
  components/Profile/SocialMediaList/SocialMediaIcons/NPMIcon.tsx
  components/Profile/SocialMediaList/SocialMediaIcons/TwitchIcon.tsx
  components/Profile/SocialMediaList/SocialMediaIcons/TwitterIcon.tsx
  components/Profile/SocialMediaList/SocialMediaIcons/YouTubeIcon.tsx
  components/Profile/SocialMediaList/SocialMediaItem.tsx
  components/Profile/SocialMediaList/index.tsx
  components/Profile/index.tsx
  components/Skills/Skill.tsx
  components/Skills/SkillsSection.tsx
  components/Skills/index.tsx
  components/design/RevealFade.tsx
  components/design/Section/SectionHeading.tsx
  components/design/Section/index.tsx
  components/design/ShadowContainer.tsx
Due: editorconfig-checker, prettier --write, eslint --fix

refactor: blog directory
  app/blog/[slug]/page.tsx
  app/blog/page.tsx
  blog/BlogPostComments.tsx
  blog/BlogPosts.tsx
  blog/blog.ts
  blog/posts/clean-code.md
  blog/posts/git-ultimate-guide.md
  blog/posts/hello-world.md
  blog/posts/mistakes-as-junior-developer.md
  blog/posts/programming-challenges.md
  blog/posts/thream-v1-0-0.md
  blog/remarkSyntaxHighlightingPlugin.ts
  package-lock.json
  package.json
  tailwind.config.js
Due: editorconfig-checker, prettier --write, eslint --fix, markdownlint-cli2 --fix

test: fix e2e tests + 500 error page
  .html-w3c-validatorrc.json
  app/error.tsx
  app/not-found.tsx
  components/ErrorPage.tsx
  cypress/e2e/common/Header.cy.ts
  cypress/e2e/pages/500.cy.ts
Due: editorconfig-checker, prettier --write, eslint --fix

fix: loader improvements
  app/blog/[slug]/loading.tsx
  app/blog/[slug]/page.tsx
  app/blog/loading.tsx
  app/blog/page.tsx
  blog/BlogPost.tsx
  blog/BlogPostContent.tsx
  blog/blog.ts
  components/Loader/Loader.module.css
  components/Loader/Loader.tsx
  components/design/Loader.tsx
Due: editorconfig-checker, prettier --write, eslint --fix

chore: update Dockerfile
  Dockerfile
Due: editorconfig-checker

test: fix styles import for unit tests
  cypress/support/component.ts
Due: editorconfig-checker, prettier --write, eslint --fix

chore(release): 3.0.0 [skip ci]
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

Notes added by 'git notes add'
  f6bfc466deae8066be4276a112fd6190df51bce9
Due: editorconfig-checker

build(deps): update latest
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  Dockerfile
  curriculum-vitae/package-lock.json
  curriculum-vitae/package.json
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

fix: try/catch inside middleware when checking locale
  middleware.ts
Due: editorconfig-checker, prettier --write, eslint --fix

build: ignore ESLint and TypeScript errors for Production build
  .github/workflows/lint.yml
  next.config.js
  package-lock.json
  package.json
  tsconfig.json
Due: editorconfig-checker, prettier --write, eslint --fix

feat: add 3rd year of BUT Informatique as education
  curriculum-vitae/curriculum-vitae.jsonc
Due: editorconfig-checker, prettier --write

feat: add IRCAD as work experience
  curriculum-vitae/curriculum-vitae.jsonc
Due: editorconfig-checker, prettier --write

Revert "build: ignore ESLint and TypeScript errors for Production build"
  .github/workflows/lint.yml
  next.config.js
  package-lock.json
  package.json
  tsconfig.json
Due: editorconfig-checker, prettier --write, eslint --fix

build: ignore ESLint errors for Production build
  next.config.js
  tsconfig.json
Due: editorconfig-checker, prettier --write, eslint --fix

fix: update dependencies to latest
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  Dockerfile
  curriculum-vitae/package-lock.json
  curriculum-vitae/package.json
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

build: downgrade semantic-release to v21.1.2
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

chore(release): 3.1.0 [skip ci]
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

Notes added by 'git notes add'
  c7ad15a46518e75e9897665384c91826a91b63ef
Due: editorconfig-checker

fix: update dependencies to latest
  .env.example
  curriculum-vitae/package-lock.json
  curriculum-vitae/package.json
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

fix: update CV with latest education courses
  .env.example
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  curriculum-vitae/curriculum-vitae.jsonc
  next.config.js
Due: editorconfig-checker, prettier --write, eslint --fix
