Repository theoludwig/theoludwig: changes, and which lint-staged commands are due for each by the changed paths.
All: editorconfig-checker, prettier --write, eslint --fix, markdownlint-cli2 --fix

chore(release): 2.6.1 [skip ci]
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

Notes added by 'git notes add'
  fd516097134682edc5ec9dbf8d709ccb848ae4ac
Due: editorconfig-checker

build(deps): update latest
  jsonresume-theme-custom/package-lock.json
  jsonresume-theme-custom/package.json
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

feat(posts): add `programming-challenges`
  package-lock.json
  package.json
  pages/blog/[slug].tsx
  posts/clean-code.md
  posts/programming-challenges.md
  public/images/posts/programming-challenges/big-o-chart-notations.webp
  styles/global.css
  utils/blog.ts
Due: editorconfig-checker, prettier --write, eslint --fix, markdownlint-cli2 --fix

chore(release): 2.7.0 [skip ci]
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

Notes added by 'git notes add'
  dc5c3cee41d05d9415aa131a27c32b0ac1e572b5
Due: editorconfig-checker

fix: responsive on blog post with code blocks and katex
  .eslintrc.json
  components/Header/index.tsx
  components/Profile/ProfileDescriptionBottom.tsx
  components/design/Section/index.tsx
  pages/blog/[slug].tsx
  styles/global.css
Due: editorconfig-checker, prettier --write, eslint --fix

chore(release): 2.7.1 [skip ci]
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

Notes added by 'git notes add'
  a18cec4826a23e9e7b29abc4a136e63dd48fbcbb
Due: editorconfig-checker

fix(deps): remove `next-pwa` dependency
  components/Head.tsx
  jsonresume-theme-custom/index.html
  jsonresume-theme-custom/package-lock.json
  jsonresume-theme-custom/package.json
  next.config.js
  package-lock.json
  package.json
  public/images/icon-96x96.png
  public/images/icons/icon-128x128.png
  public/images/icons/icon-144x144.png
  public/images/icons/icon-152x152.png
  public/images/icons/icon-192x192.png
  public/images/icons/icon-384x384.png
  public/images/icons/icon-512x512.png
  public/images/icons/icon-72x72.png
  public/manifest.json
Due: editorconfig-checker, prettier --write, eslint --fix

fix: update name with full name and nickname
  README.md
  components/Footer.tsx
  components/Head.tsx
  components/Header/index.tsx
  components/Profile/ProfileInfo.tsx
  components/Profile/ProfileList/index.tsx
  jsonresume-theme-custom/scripts/main.js
  locales/en/home.json
  locales/fr/home.json
  pages/404.tsx
  pages/500.tsx
  pages/blog/[slug].tsx
  utils/getAge.ts
Due: editorconfig-checker, prettier --write, eslint --fix, markdownlint-cli2 --fix

test: update with new changes
  cypress/e2e/common/Header.cy.ts
Due: editorconfig-checker, prettier --write, eslint --fix

chore(release): 2.7.2 [skip ci]
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

Notes added by 'git notes add'
  87fbfe49408e695b65ee6d37f469225abe47d7d9
Due: editorconfig-checker

chore: usage of next start
  package.json
Due: editorconfig-checker, prettier --write

fix: improve spelling consistency
  README.md
  components/Skills/index.tsx
Due: editorconfig-checker, prettier --write, eslint --fix, markdownlint-cli2 --fix

chore(release): 2.7.3 [skip ci]
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

Notes added by 'git notes add'
  7c0f11ab7d0faaf8949c62dc1d01ce7329c8b275
Due: editorconfig-checker

feat: migrate progressively to full name instead of nickname
  .devcontainer/devcontainer.json
  .env.example
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  LICENSE
  README.md
  components/Footer.tsx
  components/Head.tsx
  components/Header/index.tsx
  components/Profile/ProfileInfo.tsx
  components/Profile/ProfileList/index.tsx
  components/Profile/ProfileLogo.tsx
  components/Profile/SocialMediaList/index.tsx
  components/Skills/skills.ts
  cypress/component/Footer.cy.tsx
  cypress/e2e/common/Header.cy.ts
  docker-compose.yml
  jsonresume-theme-custom/scripts/main.js
  package-lock.json
  package.json
  pages/404.tsx
  pages/500.tsx
  pages/blog/[slug].tsx
  pages/blog/index.tsx
  posts/thream-v1-0-0.md
  public/images/skills/Hyper.svg
  public/images/skills/VisualStudioCode.png
  resume.jsonc
  utils/getAge.ts
Due: editorconfig-checker, prettier --write, eslint --fix, markdownlint-cli2 --fix

chore(release): 2.8.0 [skip ci]
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

Notes added by 'git notes add'
  7bcc5f972cfb8f3887f295b00476d2ce57295748
Due: editorconfig-checker

feat: continue migrating to full name instead of nickname
  CONTRIBUTING.md
  README.md
  components/Footer.tsx
  components/Header/index.tsx
  components/OpenSource/index.tsx
  components/Profile/ProfileLogo.tsx
  components/Profile/SocialMediaList/index.tsx
  cypress/component/Footer.cy.tsx
  locales/en/home.json
  locales/fr/home.json
  package.json
  pages/blog/[slug].tsx
  posts/hello-world.md
  posts/programming-challenges.md
  posts/thream-v1-0-0.md
  public/images/brand_logo.png
  public/images/icon_small.png
  public/images/logo.png
Due: editorconfig-checker, prettier --write, eslint --fix, markdownlint-cli2 --fix

chore(release): 2.9.0 [skip ci]
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

Notes added by 'git notes add'
  db0c708c04a81f5f88dfba44a0cdbeefca8f0fe2
Due: editorconfig-checker

fix: justify align text in blog posts
  styles/global.css
Due: editorconfig-checker, prettier --write

fix(posts): add explanations for Git (cherry-pick + merge squash)
  posts/git-ultimate-guide.md
Due: editorconfig-checker, prettier --write, markdownlint-cli2 --fix

chore: maintenance
  CONTRIBUTING.md
  components/Head.tsx
  jsonresume-theme-custom/package-lock.json
  jsonresume-theme-custom/package.json
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write, eslint --fix, markdownlint-cli2 --fix

feat(blog): add anchor links for titles/headers
  pages/blog/[slug].tsx
  styles/global.css
Due: editorconfig-checker, prettier --write, eslint --fix

test: fix with new anchor link behavior in blog posts
  cypress/e2e/pages/blog/[slug].cy.ts
  package.json
Due: editorconfig-checker, prettier --write, eslint --fix

chore(release): 2.10.0 [skip ci]
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

Notes added by 'git notes add'
  6886480cef416f1ab7a5df8ff55b45d074208f98
Due: editorconfig-checker

feat(skills): add Arch Linux
  README.md
  components/Skills/Skill.tsx
  components/Skills/index.tsx
  components/Skills/skills.ts
  public/images/skills/ArchLinux.png
  resume.jsonc
Due: editorconfig-checker, prettier --write, eslint --fix, markdownlint-cli2 --fix

chore(release): 2.11.0 [skip ci]
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

Notes added by 'git notes add'
  988fceb2aa1dfc4be8cccb581ca4c02f4b8fc076
Due: editorconfig-checker

fix: update dependencies to latest
  .github/workflows/analyze.yml
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  Dockerfile
  jsonresume-theme-custom/package-lock.json
  jsonresume-theme-custom/package.json
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

feat: increase duration work experience Numerize
  resume.jsonc
Due: editorconfig-checker, prettier --write

chore(release): 2.12.0 [skip ci]
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

Notes added by 'git notes add'
  117c41b1c3a0323a77eb335e624758f667fcc425
Due: editorconfig-checker

fix: remove vercel cli + update dependencies to latest
  .github/workflows/release.yml
  .gitignore
  jsonresume-theme-custom/package-lock.json
  jsonresume-theme-custom/package.json
  package-lock.json
  package.json
  utils/remarkSyntaxHighlightingPlugin.ts
  vercel.json
Due: editorconfig-checker, prettier --write, eslint --fix

fix: update /curriculum-vitae to /curriculum-vitae/index.html
  components/Profile/ProfileDescriptionBottom.tsx
Due: editorconfig-checker, prettier --write, eslint --fix

Path conditions:
  editorconfig-checker: any of: *
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{css,scss,sass,json,jsonc,yml,yaml})) or (any of: *.{md,mdx})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  markdownlint-cli2 --fix: any of: *.{md,mdx}
